POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=

FRONT_ADMIN_PORT=5174
FRONT_PORT=5173
BACK_PORT=3000
AI_PORT=8000

VITE_API_BASE_URL=http://localhost:3000/api
VITE_S3_IMAGE_PREPARE_PATH=
VITE_S3_IMAGE_CONFIRM_PATH=
VITE_S3_PUBLIC_BASE_URL=